<!doctype html>
<html>
  <head>
    <title>Tasks Overview</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
<body>
<header>
  <h1>{display_title}</h1>
</header>
<div id="projects" class="projects">

<script>
__JOBS_API__="/api/jobs";
__USERS__={users};
</script>
<script type="text/javascript" src="/static/jquery.js"></script>
<script type="text/javascript" src="/static/jquery.tinysort.min.js"></script>
<script type="text/javascript" src="/static/main.js"></script>
<script>
//init_isotope();
get_latest();
setTimeout(function() {{ location.reload(); }}, 3600000);
</script>
</body>
</html>
